@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

/* Typography - Inter for the whole site */
@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* Color, text, background, etc. */
@theme {
  /* Text color */
  --color-text: #030712;
  /* Primary color */
  --color-primary: #F8C03E;
  /* Blue color */
  --color-blue: #0069A8;
  /* Red color */
  --color-red: #EC003F;
  /* Gray color */
  --color-gray: #E5E7EB;
  --color-gray-light: #B3B3B3;
  /* Green color */
  --color-green: #14AE5C;
  /* Orange color */
  --color-orange: #FF6900;
  /* Black color */
  --color-black: #2C2C2C;
  /* Default color */
  --color-default:#2C2C2C ;
  /* Brown color */
  --color-brown: #401B01;
  /* Gray dark color */
  --color-gray-dark: #757575;
  /* Green dark color */
  --color-green-dark: #009689;
  /* Purple color */
  --color-purple: #7F22FE;
  /* Gray blue color */
  --color-gray-blue: #62748E;
}

@layer base {
  body {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}
